<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522896815441-4rlo0r4jbc1bggesp2d0egq39okr6u5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522896815441-4rlo0r4jbc1bggesp2d0egq39okr6u5h</string>
	<key>API_KEY</key>
	<string>AIzaSyCt7vuYDVK32-9VB1pitQmXVUxsWVMNdAc</string>
	<key>GCM_SENDER_ID</key>
	<string>522896815441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.carsonrodrigues.coco</string>
	<key>PROJECT_ID</key>
	<string>coco-sih</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-sih.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522896815441:ios:7ef993e698e5dbd5a8cf70</string>
</dict>
</plist>